@import './variables';

.text-lg {
  font-size: 24px;
}
.text-md {
  font-size: 18px;
}
.text-normal {
  font-size: 1rem;
}
.text-sm {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.color-white {
  color: white !important;
}
.color-price {
  color: $color-price !important;
}
.color-brand {
  color: $color-brand !important;
}
.color-light {
  color: $color-light !important;
}
.color-danger {
  color: $error-color !important;
}

%border {
  display: inline-block;
  border: 1px solid #333;
  padding: 2px 8px;
  border-radius: 4px;
}

.border-white {
  @extend %border;
  border-color: white;
}

.border-black {
  @extend %border;
  border-color: #333;
}

.border-light {
  @extend %border;
  border-color: #ccc;
}

.border-brand {
  @extend %border;
  border-color: $color-brand;
}

.uppercase {
  text-transform: uppercase;
}

.bg-white {
  background-color: white !important;
}
.bg-brand {
  background-color: $color-brand !important;
}
