// set all box-sizing to border-box;
view,
scroll-view,
swiper,
swiper-item,
movable-area,
movable-view,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox-group,
checkbox,
form,
input,
label,
picker,
picker-view,
radio-group,
radio,
slider,
switch,
textarea,
navigator,
functional-page-navigator,
image,
video,
camera,
live-player,
live-pusher,
map,
canvas,
open-data,
web-view,
ad {
  box-sizing: border-box;
}

button {
  padding: 0;
  border-radius: 0;
}
// remove default button borders
button::after {
  border: none;
}

input {
  height: auto;
}

.wx-switch-input {
  width: 80rpx !important;
  height: 40rpx !important;
}
.wx-switch-input::before {
  width: 79rpx !important;
  height: 37rpx !important;
}
.wx-switch-input::after {
  width: 37rpx !important;
  height: 37rpx !important;
}
